include ../mixins/_svgsprite.pug
- locals.basedir = '/your/base/directory';
doctype html
html(lang="en")
	block vars
	head
		meta(charset="UTF-8")
		block title
			title #{siteInfo.title} - #{siteInfo.tagLine}
		link(rel='stylesheet', href='assets/css/screen.css')
		meta(name="description" content=siteInfo.description)
		meta(name='viewport' content='width=device-width, initial-scale=1.0')
		meta(name='mobile-web-app-capable' content='yes')
		meta(property='og:locale', content='en_US')
		meta(property='og:type', content='website')
		meta(property='og:title', content=siteInfo.title)
		meta(property='og:description', content=siteInfo.description)
		meta(property='og:url', content=siteInfo.url)
		meta(property='og:site_name', content=siteInfo.title)
		meta(property='og:image', content='https://arden.nl/assets/img/favicons/android-chrome-512x512.png')
		meta(property='og:image:secure_url', content='https://arden.nl/assets/img/favicons/android-chrome-512x512.png')
		meta(name='twitter:card', content='summary')
		meta(name='twitter:description', content=siteInfo.description)
		meta(name='twitter:title', content=siteInfo.title)
		meta(name='twitter:site', content='@ardennl')
		meta(name='twitter:image', content='https://arden.nl/assets/img/favicons/android-chrome-512x512.png')
		link(rel="apple-touch-icon", sizes="180x180", href="/assets/img/favicons/apple-touch-icon.png")
		link(rel="icon", type="image/png", sizes="32x32", href="/assets/img/favicons/favicon-32x32.png")
		link(rel="icon", type="image/png", sizes="16x16", href="/assets/img/favicons/favicon-16x16.png")
		link(rel="manifest", href="/assets/img/favicons/manifest.json")
		link(rel="mask-icon", href="/assets/img/favicons/safari-pinned-tab.svg", color="#5bbad5")
		link(rel="shortcut icon", href="/assets/img/favicons/favicon.ico")
		meta(name="msapplication-config", content="/assets/img/favicons/browserconfig.xml")
		meta(name="theme-color", content="#ffffff")
		script(type='text/javascript').
			var _paq = _paq || [];
			/* tracker methods like "setCustomDimension" should be called before "trackPageView" */
			_paq.push(['trackPageView']);
			_paq.push(['enableLinkTracking']);
			(function() {
			var u="//analytics.arden.nl/";
			_paq.push(['setTrackerUrl', u+'piwik.php']);
			_paq.push(['setSiteId', '1']);
			var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
			g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
			})();
			// End Piwik Code
		
	body(class='no-js')
		script.
			document.body.classList.remove('no-js');
		.m-logo
			include ../../assets/img/logo.svg

		block content		

		script(src='assets/js/script.js')